/*1.整体布局*/
.login{
	margin-top: 100px;
	height: 900px;
	/*background-image: linear-gradient(30deg,red,pink);*/
	background-image: linear-gradient(#FFFFF0,#FFF0F5);
	margin-bottom: 40px;
}
/*2.标题*/
.login h2{
	text-align: center;
	position: relative;
	top: 150px;
	font-size: 36px;
}
/*3.字体图标*/
.login .logindiv span{
	font-size: 300px;
	color: #FFECEC;
	position: relative;
	top: 200px;
	
}
/*4.表单*/
.login .loginmyform{
	width: 500px;
	height: 300px;
	/*border: 1px solid red;*/
	box-shadow: 5px 5px 5px 3px antiquewhite;
	position: relative;
	left: 380px;
	top:-200px;
	background-color: rgba(255,186,117,0.4);
	/*border-radius: 0 40px 0 0;*/
}
/*4.用户名和密码*/
.login .loginmyform .inputwg{
	width: 300px;
	height: 35px;
	margin-top: 20px;
}
.login .loginmyform .inputwg2{
	width: 300px;
	height: 35px;
	margin-top: 20px;
	margin-bottom: 20px;
}
/*5.使用邮箱登录和密码样式*/
.login .loginmyform a{
	font-size: 12px;
	cursor: pointer;
	color: royalblue;
	margin-left: 50px;
}
/*6.忘记密码位置*/
.login .loginmyform .wjmm{
	margin-left: 400px;
}
.bc{
	margin-left: 50px;
}
/*7.按钮*/
.login .loginmyform .an2{
	width: 200px;
	height: 30px;
	margin-left: 150px;
	margin-top: 30px;
}
